{%- style -%}
  .custom-wrapper {
    padding: 2rem !important;
  }
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.75);
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="custom-wrapper color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    {% if content != blank %}
      {{ content }}
    {% endif %}

    {% if section.settings.custom_liquid != blank %}
      {{ section.settings.custom_liquid }}
    {% endif %}
  </div>
</div>
