{{ 'section-get-a-quote.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%}

<style>
  .card-0 {
    min-height: 110vh;
    background: linear-gradient(-20deg, rgb(255, 255, 255) 50%,#0470BB 50%);
    color: white;
    border: 0px;
  }

  .form-control {
    height: calc(2em + 5px)!important;
  }

  .field__input {
    height: calc(2em + 5px)!important;
  }

  p {
    font-size: 1.1em;
    line-height: 25px !important;
    font-weight: 500;
  }

  .container {
    padding-top: 50px !important;
    border-radius: 20px;
  }

  .btn {
    letter-spacing: 1px;
  }

  select:active {
    box-shadow: none !important;
    outline-width: 0 !important;

  }

  select:after {
    box-shadow: none !important;
    outline-width: 0 !important;

  }

  input,
  textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 0px !important;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    resize: none;

  }

  select:focus,
  input:focus {
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400;
  }

  label {
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 1.1em;
  }
  .field__input, .customer .field input {
    flex-grow: 1;
    text-align: left;
    padding: 1.5rem;
    margin: var(--inputs-border-width);
    transition: box-shadow var(--duration-short) ease;
}
.form__message {
    padding: 0;
    margin: 2rem 0 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

  input:focus,
  textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
  }

  button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
  }

  .form-control {
    height: calc(2em + .75rem + 3px);
  }

  .inner-card {
    margin: 79px 0px 70px 0px;
  }

  .card-0 {
    min-height: auto!important;
  }

  .card-1 {
    border-radius: 17px;
    color: black;
    box-shadow: 2px 4px 15px 0px rgb(0, 0, 0, 0.5) !important;
  }

  #file {
    border: 2px dashed #92b0b3 !important;

  }

  .color input {
    background-color: #f1f1f1;
  }

  .files:before {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    content: attr(data-before);
    color: #000;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
  }


  #file {
    display: inline-block;
    width: 100%;
    padding: 95px 0 0 100%;
    background: url('https://i.imgur.com/VXWKoBD.png') top center no-repeat #fff;
    background-size: 55px 55px;
  }

  @media (min-width: 1536px) {
    .max-width-container {
      max-width: 1400px;
    }
  }

  .zepto-font-family {
    font-family: 'Nunito';
  }

  @media screen and (max-width: 768px) {
    .inner-card {
      margin: 15px 0px 0px 0px!important;
  }
  }
</style>

<div class="container card-0 justify-content-center max-width-container" id="getAQuote">
  <div class="card-body px-sm-4 px-0">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 col">
        <h2 class="font-weight-bold ml-md-0 mx-auto text-white zepto-font-family">Let's talk about growing your business.</h2>
        <p class="mt-md-4  ml-md-0 ml-2 text-center text-sm-left">Not only do we help you with apps that can help you sell more, but we also provide Ecommerce functionality-extending applications that can help you do more. </p>
      </div>
    </div>
    <div class="row justify-content-center round">
      <div class="col-lg-10 col-md-12 ">
        <div class="card shadow-lg card-1">
          {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
          {%- if form.posted_successfully? -%}
            <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.get-a-quote.form.post_success' | t }}</div>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.get-a-quote.form.error_heading' | t }}</h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
              </li>
            </ul>
          {%- endif -%}

          <div class="card-body inner-card">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="first-name">First Name</label>                 
                    <div class="field">
                      <input class="field__input form-control" required autocomplete="first_name" type="text" id="ContactForm-first_name" name="contact[{{ 'templates.get-a-quote.form.first_name' | t }}]" value="{% if form.first_name %}{{ form.first_name }}{% elsif customer %}{{ customer.first_name }}{% endif %}" placeholder="{{ 'templates.get-a-quote.form.first_name' | t }}">      
                     <!-- <label class="field__label" for="ContactForm-first_name">{{ 'templates.get-a-quote.form.first_name' | t }}</label> -->

                    </div> 
                </div>
              </div>

              <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="first-name">Last Name</label>                 
                  <div class="field">
                    <input class="field__input form-control" autocomplete="last_name" type="text" id="ContactForm-last_name" name="contact[{{ 'templates.get-a-quote.form.last_name' | t }}]" value="{% if form.last_name %}{{ form.last_name }}{% elsif customer %}{{ customer.last_name }}{% endif %}" placeholder="{{ 'templates.get-a-quote.form.last_name' | t }}">
                  </div>
                </div>
              </div>
            
              <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="first-name">Email</label>                 
                  <div class="field field--with-error">
                    <input required
                      autocomplete="email"
                      type="email"
                      id="ContactForm-email"
                      class="field__input"
                      name="contact[email]"
                      spellcheck="false"
                      autocapitalize="off"
                      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                      aria-required="true"
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="ContactForm-email-error"
                      {% endif %}
                      placeholder=""
                    >
                    {%- if form.errors contains 'email' -%}
                      <small class="contact__field-error" id="ContactForm-email-error">
                        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                        <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                      </small>
                    {%- endif -%}
                  </div>
                </div>
              </div>

              <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="first-name">Store Url</label>                 
                  <div class="field">
                    <input class="field__input" autocomplete="country" type="text" id="ContactForm-country" name="contact[{{ 'templates.get-a-quote.form.country' | t }}]" value="{% if form.country %}{{ form.country }}{% elsif customer %}{{ customer.country }}{% endif %}" placeholder="{{ 'templates.get-a-quote.form.country' | t }}">
                  </div>
                </div>
              </div>

              <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="first-name">Store Plan</label>                 
                  <div class="field">
                    <input class="field__input" autocomplete="store_plan" type="text" id="ContactForm-store_plan" name="contact[{{ 'templates.get-a-quote.form.store_plan' | t }}]" value="{% if form.store_plan %}{{ form.store_plan }}{% elsif customer %}{{ customer.store_plan }}{% endif %}" placeholder="{{ 'templates.get-a-quote.form.store_plan' | t }}">
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="first-name">Evaluate Budget</label>                 
                  <div class="field">
                    <input required class="field__input" autocomplete="budget" type="text" id="ContactForm-budget" name="contact[{{ 'templates.get-a-quote.form.budget' | t }}]" value="{% if form.budget %}{{ form.budget }}{% elsif customer %}{{ customer.budget }}{% endif %}" placeholder="$1000">
                  </div>
                </div>
              </div>

            </div>
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-10 col-12">
                <div class="form-group"> <label for="exampleFormControlTextarea2">Message</label> 
                  <div class="field">
                    <textarea required
                      rows="10"
                      id="ContactForm-body"
                      class="text-area field__input"
                      name="contact[{{ 'templates.get-a-quote.form.comment' | t }}]"
                      placeholder="{{ 'templates.get-a-quote.form.comment' | t }}"
                    >
                      {{- form.body -}}
                    </textarea>
                  </div>
                </div>
             
                <div class="row justify-content-end mb-5">
                  <div class="col-lg-4 col-auto ">
                    <div class="contact__button">
                      <button type="submit" class="button cbtn float-right">
                        {{ 'templates.get-a-quote.form.send' | t }}  
                        <img class="right_arrow" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABmJLR0QA/wD/AP+gvaeTAAAA2klEQVQ4je3SMUoDURSF4e9GQZRUVi5BrGzSWFgItiImwdLGGUOW4ApcQiSd5SQRbBQL2zS2LkPcwcyzEhS0eimE5G8P/OdwuaxYUoZV21W191vUyhLXcU28KSeXixWnuMOHMDKYdr9HkSWGYtbRal6wIeLEqPdM7mIYd19FOkUjpXvF5ADCYNrVpBuRXbKDLbxbqw/zF/9B/o1hUB1J8Yha49i4P89fXMw6UjwgRJwZ9+ewniUtp7uiecKmiPOvj8gXt1xItiWl294sy/WDYdVWVPuLE674F3wCuDc1xfOIq9QAAAAASUVORK5CYII=">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "t:sections.get-a-quote.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Get a Quote",
"label": "Heading"
},
{
"type": "select",
"id": "heading_size",
"options": [
{
"value": "h2",
"label": "t:sections.all.heading_size.options__1.label"
},
{
"value": "h1",
"label": "t:sections.all.heading_size.options__2.label"
},
{
"value": "h0",
"label": "t:sections.all.heading_size.options__3.label"
}
],
"default": "h1",
"label": "t:sections.all.heading_size.label"
},
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "accent-1",
"label": "t:sections.all.colors.accent_1.label"
},
{
"value": "accent-2",
"label": "t:sections.all.colors.accent_2.label"
},
{
"value": "background-1",
"label": "t:sections.all.colors.background_1.label"
},
{
"value": "background-2",
"label": "t:sections.all.colors.background_2.label"
},
{
"value": "inverse",
"label": "t:sections.all.colors.inverse.label"
}
],
"default": "background-1",
"label": "t:sections.all.colors.label"
},
{
"type": "header",
"content": "t:sections.all.padding.section_padding_heading"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_top",
"default": 36
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_bottom",
"default": 36
}
],
"presets": [
{
"name": "t:sections.get-a-quote.presets.name"
}
]
}
{% endschema %}